@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

:root{
  --Blue-200: hsl(193, 38%, 86%);
  --Blue-600: hsl(213, 19%, 24%);
 --Blue-900: hsl(218, 23%, 16%);
 --Blue-950: hsl(218, 23%, 16%);
 --Green-300:  hsl(150, 100%, 66%);
}

html,body{
  width: 100%;
  height: 100%;
  font-family: 'Manrope', sans-serif;
}

body{
  background-color: var(--Blue-950);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#Container{
 width: 90%;
  max-width: 550px;
  height: 330px;
  background-color: var(--Blue-600);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
   position: relative;
}

#Card{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

#Advice_id{
  color: var(--Green-300);
  font-size: 14px;
  letter-spacing: 3px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: small;
}

#Advice_Text{
  color: var(--Blue-200);
  font-size: 1.8vw;
  width: 80%;
  text-align: center;
  padding-bottom: 10px;
}

#Dice-Btn{
  position: absolute;
  bottom: -25px;
  background-color: var(--Green-300);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 
}
#Dice-Btn:hover{
 
  box-shadow: 0px 0px 20px var(--Green-300);
  transition: box-shadow 0.3s ease;
}

/* Tablet devices */

@media screen and (max-width: 768px){
  #Container{
    width: 80%;
    height: auto;
    
  }
  #Advice_Text{
    font-size: 3.5vh;
    width: 90%;
    padding-bottom: 10px;

  }

  #Divider{

    padding-bottom: 80px;
  }

  #Divider img{
    content: url("/images/pattern-divider-desktop.svg");

  }

}

/* Mobile devices */
@media screen and (max-width: 480px){
  #Container{
    width: 90%;
    height: auto;
    
  }
  #Advice_Text{
    font-size: 3.0vh;
    width: 90%;
    margin-top: 1px;
  }

  #Divider{
    padding-bottom: 60px;
  }

  #Divider img{
    content: url("/images/pattern-divider-mobile.svg");

  }

}